b {
    color: red;
}
h1 {
    font-size: large;
    font-style: italic;
    color: blue;
 }
 .main-text {
    color: rgb(101, 20, 177);
 }
 i {
    color: green;
    font-weight: bold;
 }
 div b {
    color: chartreuse;
 }
.main-link  {
    color: chocolate;
    text-decoration: none;
}
.main-link:hover {
    color: blue;
    text-decoration: underline;
text-decoration-color: red;
}